<div class="Entry">
  <h2><%= entry.name %></h2>

  <div>
    <em>glossary_english: <%= entry.glossary_english %></em>
  </div>

  <% if entry.subentries.present? %>
    <div>subentries: <%= entry.subentries %></div>
  <% end %>

  <% if entry.main_cross_references.present? %>
    <div>main_cross_references: <%= entry.main_cross_references.join(", ") %></div>
  <% end %>

  <% if entry.male_counterpart.present? %>
    <div>male_counterpart: <%= entry.male_counterpart %></div>
  <% end %>

  <% if entry.female_counterpart.present? %>
    <div>female_counterpart: <%= entry.female_counterpart %></div>
  <% end %>

  <% if entry.info.present? %>
    <div>info: <%= entry.info %></div>
  <% end %>

  <% if entry.part_of_speech.present? %>
    <div>part_of_speech: <%= entry.part_of_speech %></div>
  <% end %>

  <% if entry.usage.present? %>
    <div>usage: <%= entry.usage %></div>
  <% end %>

  <% if entry.origin.any? %>
    <div>origin: <%= entry.origin.join(", ") %></div>
  <% end %>

  <% if entry.antonyms.any? %>
    <div>antonyms: <%= entry.antonyms.join(", ") %></div>
  <% end %>

  <% if entry.synonyms.any? %>
    <div>synonyms: <%= entry.synonyms.join(", ") %></div>
  <% end %>

  <% if entry.similar.any? %>
    <div>similar: <%= entry.similar.join(", ") %></div>
  <% end %>

  <% if entry.counterpart.any? %>
    <div>counterpart: <%= entry.counterpart.join(", ") %></div>
  <% end %>

  <% if entry.categories.any? %>
    <div>categories: <%= entry.categories.join(", ") %></div>
  <% end %>

  <% if entry.examples_english.any? %>
    <div>examples: <%= entry.examples_tetun.join(", ") %></div>
    <div>examples: <%= entry.examples_english.join(", ") %></div>
  <% end %>

  <% if entry.cross_references.any? %>
    <div>cross_references: <%= entry.cross_references.join(", ") %></div>
  <% end %>

  <div>
    <%= link_to 'Show', entry %>
    <%= link_to 'Edit', edit_entry_path(entry) %>
    <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
