<% nest = true unless local_assigns.has_key? :nest %>

<div class="Entry">
  <div class="Entry-header">
    <h2 class="Entry-title">
      <%= link_to entry.name, { search: entry.name }, class: "Entry-name" %>

      <small class="Entry-partOfSpeech">
        <em><%= entry.part_of_speech %></em>
      </small>
    </h2>

    <div class="Entry-glossary">
      <% if entry.glossary_english.present? %>
        <%= entry.glossary_english %>.
      <% end %>

      <% if entry.info.present? %>
        <div><em><%= entry.info %>.</em></div>
      <% end %>
    </div>

    <blockquote class="Entry-examples">
      <% entry.examples.each do |tetun, english| %>
        <div class="Entry-examples--tetun"><%= tetun %></div>
        <div class="Entry-examples--english"><%= english %></div>
      <% end %>
    </blockquote>
  </div>

  <div class="Entry-body">
    <% if entry.categories.any? %>
      <div>
        <strong>Categories:</strong>
        <%= entry.categories.join(", ") %>
      </div>
    <% end %>

    <% if entry.usage.present? %>
      <div>
        <strong>Usage:</strong>
        <%= entry.usage %>
      </div>
    <% end %>

    <% if entry.origin.any? %>
      <div>
        <strong>From:</strong>
        <%= entry.origin.to_sentence %>
      </div>
    <% end %>
  </div>

  <%= render partial: "related_entries", locals: { entries: entry.main_cross_references, title: "Variant", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: [entry.male_counterpart], title: "Male counterpart", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: [entry.female_counterpart], title: "Female counterpart", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: entry.counterpart, title: "Counterpart", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: entry.synonyms, title: "Synonyms", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: entry.antonyms, title: "Antonyms", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: entry.similar, title: "Similar", nest: nest } %>

  <%= render partial: "related_entries", locals: { entries: entry.cross_references, title: "See also", nest: nest } %>
</div>

<div class="Entry-subentries">
  <% if entry.parent.nil? %>
    <% entry.subentries.each do |entry| %>
      <%= render partial: entry, locals: { nest: false } %>
    <% end %>
  <% end %>
</div>
