<div class="Topbar">
  <div class="Topbar-lafaek"></div>

  <%= form_tag entries_path, method: :get, enforce_utf8: false, class: "Topbar-buka" do %>
    <%= text_field_tag :buka, params[:buka], id: nil, class: "Topbar-buka-input",
       placeholder: "Buka", autocapitalize: "off", autocorrect: "off", spellcheck: "false" %>
  <% end %>
</div>

<div class="Container">
  <div class="Container-sekundariu">
    <h2 class="Container-titulu">
      Common phrases
    </h2>

    <div class="Entry Entry--empty">
      To do.
    </div>
  </div>

  <div class="Container-prinsipal">
    <h2 class="Container-titulu">
      Definitions
    </h2>

    <div class="Alfabetu">
      <% Entry::ALPHABET.each do |letter| %>
        <%= link_to letter, { letra: letter },
          class: "Alfabetu-letra #{ (params[:buka].nil? && params[:letra] == letter) ? 'is-active' : '' }" %>
      <% end %>
      <div class="Alfabetu-letra <%= params[:buka].present? ? 'is-active' : '' %>">
        <%= render "buka" %>
      </div>
    </div>

    <div id="results">
      <%= render "results", results: results, use_anchor: true %>
    </div>
  </div>

  <div class="Container-footer">
    <a class="Container-footer-link" href="http://www.tetundit.tl/">
      Dictionary definitions and examples produced by Catharina Williams-van Klinken
      and others from <strong>Dili Institute of Technology’s Language Centre</strong>.
    </a>
    <span class="Container-footer-nota">
      This page is not affiliated with the Dili Institute of Technology.
    </span>
  </div>
</div>

<div id="sheet" class="Sheet animated" style="<%= related ? '' : 'display:none' %>" data-turbolinks-permanent>
  <div class="Sheet-header">
    <h2 class="Sheet-titulu">Related</h2>
    <%= link_to "✕", permitted_params.merge(konsulta: nil), id: "close", class: "Sheet-close" %>
  </div>

  <div id="related">
    <% if related %>
      <%= render "results", results: related %>
    <% end %>
  </div>
</div>
