<% query_params = permitted_params.permit(:anchor, :letra, :buka, :konsulta) %>
<% query_params = query_params.merge(anchor: entry.term.slug) if use_anchor %>

<% if entry.part_of_speech? %>
  <span class="Entry-partOfSpeech u-xspr">
    <em><%= entry.part_of_speech %></em>
  </span>
<% end %>

<% if entry.translated(:glossary, params[:locale]).present? %>
  <span class="Entry-glossary u-xspr">
    <%= entry.translated(:glossary, params[:locale]).html_safe %>
  </span>
<% end %>

<% if entry.translated(:info, params[:locale]).present? %>
  <span class="Entry-glossary u-xspr">
    <em><%= entry.translated(:info, params[:locale]).html_safe %></em>
  </span>
<% end %>

<% if entry.similar.any? %>
  <%= link_to Entry.human_attribute_name(:similar),
    query_params.merge(konsulta: entry.related_to_ref(:similar)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.similar.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.synonyms.any? %>
  <%= link_to Entry.human_attribute_name(:synonym),
    query_params.merge(konsulta: entry.related_to_ref(:synonyms)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.synonyms.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.antonyms.any? %>
  <%= link_to Entry.human_attribute_name(:antonym),
    query_params.merge(konsulta: entry.related_to_ref(:antonyms)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.antonyms.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.male_counterpart.present? %>
  <%= link_to Entry.human_attribute_name(:male_counterpart),
    query_params.merge(konsulta: entry.related_to_ref(:male_counterpart)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <strong class="Entry-reference"><%= entry.male_counterpart %></strong>.
  </span>
<% end %>

<% if entry.female_counterpart.present? %>
  <%= link_to Entry.human_attribute_name(:female_counterpart),
    query_params.merge(konsulta: entry.related_to_ref(:female_counterpart)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <strong class="Entry-reference"><%= entry.female_counterpart %></strong>.
  </span>
<% end %>

<% if entry.counterpart.any? %>
  <%= link_to Entry.human_attribute_name(:counterpart),
    query_params.merge(konsulta: entry.related_to_ref(:counterpart)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.counterpart.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.variants.any? %>
  <%= link_to Entry.human_attribute_name(:variant),
    query_params.merge(konsulta: entry.related_to_ref(:variants)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.variants.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.cross_references.any? %>
  <%= link_to Entry.human_attribute_name(:see_also),
    query_params.merge(konsulta: entry.related_to_ref(:cross_references)), remote: true, class: "Entry-label" %>
  <span class="u-xspr">
    <%= entry.cross_references.map { |s| "<strong class=\"Entry-reference\">#{ s }</strong>" }.join("; ").html_safe %>.
  </span>
<% end %>

<% if entry.usage.present? %>
  <strong class="Entry-label"><%= Entry.human_attribute_name(:usage) %></strong>
  <span class="u-xspr"><%= entry.usage %>.</span>
<% end %>

<% if entry.origin.any? %>
  <strong class="Entry-label"><%= Entry.human_attribute_name(:from) %></strong>
  <span class="u-xspr"><%= entry.translated_origin(params[:locale]).to_sentence %>.</span>
<% end %>

<% if entry.examples.any? %>
  <% entry.examples.each do |example| %>
    <div class="Entry-examples Entry-examples--tetun">
      <%= example.tetun %>
    </div>
    <div class="Entry-examples Entry-examples--english">
      <%= example.translation(params[:locale]).html_safe %>
    </div>
  <% end %>
<% end %>
