<% if terms.results.empty? %>
  <div class="Entry Entry--empty">
    <%= t '.none_found' %>
  </div>
<% else %>
  <% terms.results.each do |term| %>
    <% if use_anchor %>
      <div id="<%= term.slug %>" class="u-anchor"></div>
    <% end %>

    <div class="Entry">
      <h3 class="Entry-title">
        <%= term.name %>
      </h3>

      <% if term.entries.count > 1 %>
        <ol class="Entry-list">
          <% term.entries.each do |entry| %>
            <li>
              <div class="Entry-list-item">
                <%= render "entry", entry: entry, use_anchor: use_anchor %>
              </div>
            </li>
          <% end %>
        </ol>
      <% else %>
        <%= render "entry", entry: term.entries.first, use_anchor: use_anchor %>
      <% end %>
    </div>
  <% end %>
<% end %>
