<% content_for :title, "#{ params[:buka] } / tetunprasa.com" if params[:buka].present? %>

<%= render "topbar" %>

<div class="Container">
  <% unless params[:buka].present? %>
    <%= render "promo" %>
  <% end %>

  <div class="Container-sekundariu">
    <h2 class="Container-titulu">
      <%= t '.examples' %>
    </h2>

    <%= render "examples", examples: examples.results %>
  </div>

  <div class="Container-prinsipal">
    <h2 class="Container-titulu">
      <%= t '.definitions' %>
    </h2>

    <div class="Alfabetu">
      <% Term::ALPHABET.each do |letter| %>
        <%= link_to letter, { letra: letter },
          class: "Alfabetu-letra #{ (params[:buka].blank? && active_letter == letter) ? 'is-active' : '' }" %>
      <% end %>
      <div class="Alfabetu-letra <%= params[:buka].present? ? 'is-active' : '' %>">
        <%= render "buka" %>
      </div>
    </div>

    <div id="entries">
      <%= render "terms", terms: terms, use_anchor: true %>
    </div>

    <%= render "pagination", terms: terms %>
  </div>

  <%= render "footer" %>
</div>

<div id="sheet" class="Sheet animated" style="<%= related ? '' : 'display:none' %>" data-turbolinks-permanent>
  <div class="Sheet-header">
    <h2 class="Sheet-titulu">
      <%= t '.related' %>
    </h2>
    <%= link_to "✕", permitted_params.merge(konsulta: nil), id: "close", class: "Sheet-close" %>
  </div>

  <div id="related">
    <% if related %>
      <%= render "terms", terms: related, use_anchor: false %>
    <% end %>
  </div>
</div>
