<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "Benvindu / tetunprasa.david.tools" %></title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Type words in english or tetun and get definitions and common phrases">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="mask-icon" href="/favicon.svg" color="#000">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900">

    <meta property="og:url" content="https://tetunprasa.david.tools/">
    <meta property="og:site_name" content="tetunprasa.david.tools">
    <meta property="og:title" content="Web tetun-english dictionary with examples">
    <meta property="og:description" content="Type words in english or tetun and get definitions and common phrases.">
    <meta property="og:image" content="https://tetunprasa.david.tools/sharing-is-caring.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="tetunprasa.david.tools — Web tetun-english dictionary with examples">
    <meta name="twitter:description" content="Type words in english or tetun and get definitions and common phrases.">
    <meta name="twitter:image" content="https://tetunprasa.david.tools/sharing-is-caring.png">

    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="tetunprasa.david.tools">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.9.0/jquery.mark.js"></script>
  </head>

  <body>
    <%= render "snackbar" %>
    <%= yield %>
  </body>
</html>
